@model List<ProductProject.Models.Product>
@{
  ViewData["Title"] = "Gestión de Productos";
}

<h1>@ViewData["Title"]</h1>

<form action="/products/Create">
  <div class="form-group">
  <label>Ingrese su nombre</label>
  <input type="text" name="Name" placeholder="Juanito Perez" class="form-control" />
</div>
<div class="form-group">
  <label>Ingrese un comentario</label>
  <input type="number" name="Price" class="form-control" />
</div>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Crear</button>
</div>
</form>

<div class="row">
  @if(Model != null && Model.Count > 0)
  {
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
      @foreach(var product in Model)
      {
        <tr>
          <td>@product.Name</td>
          <td>@product.Price</td>
        </tr>
      }
    </table>
  }
</div>